<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  import {
    TextField,
    InputControl,
    EmailField,
  } from 'svelte-bulma-forms/module'


  export let fields;
  export let data;
  export let loading = false;
  export let showButtons = true;
  export let changes = new Map();

  // [svelte-upgrade suggestion]
  // review these functions and remove unnecessary 'export' keywords
  export function change(field, value) {
    if (value === data[field]) {
      // Nothing changed
      changes.delete(field)
    } else {
      changes.set(field, value)
    }
    changes = changes
  }

  export function submit() {
    dispatch('submit', changes)
  }
</script>

<!-- <form on:submit|preventDefault|stopPropagation="submit()"> -->
  {#each fields as {
    type, label, placeholder, name,
    required
  }}
    {#if type === 'email'}
      <EmailField
        {required} {label}
        {placeholder}
        value={data[name]}
        disabled={loading}
        on:change="{event => change(name, event)}"
      />
    {:elseif type === 'number'}
      <InputControl
        type='number'
        {required} {label}
        {placeholder}
        value={data[name]}
        disabled={loading}
        on:change="{event => change(name, event)}"
      />
    {:else}
      <TextField
        {required} {label}
        {placeholder}
        value={data[name]}
        disabled={loading}
        on:change="{event => change(name, event)}"
      />
    {/if}
  {/each}

  {#if showButtons}
  <div class="buttons is-right">
    <button type=reset class="button" class:is-loading='{loading}' disabled="{loading}" on:click="{() => dispatch('cancel')}">Cancel</button>
    <button type=submit class="button is-primary" class:is-loading='{loading}' disabled="{loading}">Save</button>
  </div>
  {/if}
<!-- </form> -->