
<script>
  import { createEventDispatcher, onMount } from 'svelte'

  let inputNode

  export let horizontal = false
  export let disabled = false
  export let label = 'Label'
  export let type = 'text'
  export let value = ''
  export let placeholder = ''

  const dispatch = createEventDispatcher()

  function update(newValue) {
    value = newValue

    dispatch('change', {
      value
    })
  }

  function inputUpdate(e) {
    e.preventDefault()
    e.stopPropagation()

    update(e.target.value)
  }

  onMount(() => {
    if (inputNode.value) {
      update(inputNode.value)
    }
  })

</script>

<div class="field" class:is-horizontal={horizontal}>
  <div class="field-label is-normal">
    <label class="label">{label}</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input bind:this={inputNode} class="input" {type} {placeholder} on:input={inputUpdate}>
      </div>
    </div>
  </div>
</div>