<script>
  import { onMount } from 'svelte';

  // [svelte-upgrade suggestion]
  // manually refactor all references to __this
  const __this = {};

  export let roles;
  export let allRoles;
  export let edit = true;
  export let rolesLoading = true;
  export let selectedRole;
  export let addRoleSubmitting;
  export let removingRoles = new Set();
  export let memberId;

  export let roleNames;
  $: roleNames = roles.map(r => r.name);

  export let rolesFiltered;
  $: rolesFiltered = allRoles
          ? allRoles.filter(r => !roleNames.includes(r.name))
          : [];

  // [svelte-upgrade suggestion]
  // review these functions and remove unnecessary 'export' keywords
  export async function addRole() { 
    addRoleSubmitting = true
    await __this.store.addMemberRole(memberId, selectedRole)
    addRoleSubmitting = false, selectedRole = ''
  }

  export async function removeRole(roleId) {
    console.log("removing role:", roleId)
    removingRoles.add(roleId)
    removingRoles = removingRoles
    await __this.store.removeMemberRole(memberId, roleId)
    removingRoles.delete(roleId)
    removingRoles = removingRoles
  }

  onMount(() => {
    __this.store.allRoles()
      .then(allRoles => rolesLoading = false, allRoles = allRoles)
      .catch(e => console.error(e))
  });
</script>

{#if edit}
<form on:submit|preventDefault|stopPropagation='{addRole}'>
  <div class="field has-addons">
    <p class="control">
      <span class="select is-loading is-small" class:is-loading='{rolesLoading}'>
        <select disabled={rolesLoading} bind:value='{selectedRole}'>
          <option value=''>Add a new role</option>
          {#each rolesFiltered as role}
            <option value={role.id}>{role.name}</option>
          {/each}
        </select>
      </span>
    </p>
    {#if selectedRole}
      <p class="control">
        <button type=submit class='button is-small' class:is-loading='{addRoleSubmitting}'>Add selected role</button>
      </p>
    {/if}
  </div>
</form>
{/if}

<section class='tags'>
  {#each roles as role}
    <span class="tag is-medium is-primary" class:edit="{edit}">
      {role.name}
      {#if edit}
      <button
        class="button is-primary is-small"
        class:is-loading='{removingRoles.has(role.id)}'
        on:click='{() => removeRole(role.id)}'
      >
        <span class="icon">
          <i class="fa fa-times fs-sm"></i>
        </span>
      </button>
      {/if}
    </span>
  {/each}
</section>


<style>
  .tag.edit  {
    padding-right: 0;
  }
  .tag.edit .button {
    margin-left: 0.4rem;
  }

</style>