<script>
  import { fly } from 'svelte-transitions'
  import { queue, notify, remove } from 'src/stores/notifications'

  function notifyType(type) {
    return {
      success: 'success',
      error: 'danger',
      warning: 'warning',
      info: 'info'
    }[type] || 'info'
  }
</script>

<div class='notifications'>
  <section class='container'>
    {#each $queue as notification (notification.id)}
      <div transition:fly="{{y: 200, duration: 200}}" class="notification is-{notifyType(notification.type)}">
        <button class="button delete" on:click="{() => remove(notification)}">
          <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
        </button>
        {notification.message}
        <hr />
      </div>
    {/each}
  </section>
</div>

<style>
.notifications {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 1em;
}


@keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
}
.notification hr {
  padding: 0;
  margin: 0;
  animation: 3s linear progress;
}
</style>